{% extends "base.html" %}
{% load static %}

{% block styles %}
	<style>
		.container2{
			display:flex;
			justify-content: center;
			margin-top: 20px;
		}
		.displayCared{
			width:700px;
			display:flex;
			min-height: 175px;
			padding: 20px;
			background-color: white;
		}
		.pic{
			width:50%;
			overflow: hidden;
			display:flex;
			justify-content: center;
			align-items: center;
		}
		.objData{
			padding:5px;
			width:50%;
			overflow: hidden;
		}

		.avatar {
		vertical-align: middle;
		width: 200px;
		height: 125px;
		}
		body{
			background-color: gainsboro;
		}
	</style>
{% endblock styles %}

{% block content %}
	{% for car in carsObj %}
		<div class="container2">
			<div class="displayCared shadow-lg p-3 mb-5 bg-white rounded">
				<div class="pic">
					<a href="{% url 'description' car.id%}"><img src="{% static 'images/car_img1.png' %}" alt="Avatar" class="avatar"></a>
				</div>
				<div class="objData">
					<div style="display: flex;">
						<p><b>Title:</b></p>
						<p style="margin-left: 10px;"><a href="{% url 'description' car.id%}">{{car.slug}}</a></p>
					</div>
					<div>
						<p><b>Description:</b></p>
						<p id="disc">{{car.description}}</p>
						<p id="discHiden" style="display: none;">{{car.description}}</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock content %}

{% block js %}
	  <script>
		  const disc = document.querySelectorAll("#disc");
		  const discHiden = document.querySelectorAll("#discHiden");
		  for(let i=0; i<disc.length; i++){
			if(disc[i].innerHTML.length > 10){
				const detail = disc[i].innerHTML;
				disc[i].innerHTML = disc[i].innerHTML.substring(0, 50)+"... <span style='cursor: pointer; color:blue;' onclick='allDes("+i+")'>Read more</span>";
			}
		  }

		  function allDes(id){
			disc[id].innerHTML = discHiden[id].innerHTML;
		  }
	  </script>
{% endblock js %}

